:root {
  --background-color: #050a18;
  --highlighted-text: aquamarine;
  --icon-color: rgb(163,116,255);
  --hovered-button: rgb(255,208,116);
}

*{
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em 0;
}

.logoTitle {
  font-family: antique-olive,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: aquamarine;
  font-weight: bold;
  font-size: 2.3rem;
  /* text-decoration: none; */
  cursor: default;
  letter-spacing: -0.5px;
  z-index: 5;
}

.logoHomeLink {
  font-family: antique-olive,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1.3rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--icon-color);
  border-radius: 30px;
  padding: 1.5rem 3rem;
  z-index: 5;
  transition: all 300ms ease-in-out;
  border: 0;
  a {
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
}

.articleWithGifNText {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.gifImage {
  border-radius: 25px;
  opacity: 0.6;
  position: absolute;
  top: 6rem;
  left: 22rem;
  width: 70rem;
  z-index: 3;
}

.coloredText {
  color: var(--highlighted-text);
}

.centeredText{
  /* position: relative; */
  top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 4;
}

.centeredText > div p {
  color: white;
}

.centeredText > div p, .coloredText{
  position: relative;
  cursor: default;
  font-size: 10rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  /* font-size: 10em; */
}

.centeredText > div p:nth-child(1){
  margin-bottom: -50px;
}

.centeredText > div p:nth-child(2) {
  right: -100px;
  margin-bottom: -80px;
}

.centeredText > div p:nth-child(3) {
  right: 100px;
}

.button {
  height: 200px;
  width: 200px;
  position: relative;
  z-index: 5;
  top: 90px;
  left: 40px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  transition: all 500ms ease-in-out;
}

.button > svg {
  transition: all 500ms ease-in-out;
}

.button:hover {
  transform: scale(1.6);
}
.button:hover > svg {
  transform: scale(0.625);
}

.button svg {
  position: relative;
  top: 5px;
  height: 35px;
  width: 35px;
}



.catalogue {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 4rem;
  /* width: 100%; */
}

.card {
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.932);
  color: #050a18;
  width: 470px;
  height: 340px;
  text-decoration: none;
  margin: 1rem 1rem;
  display: grid;
  grid-template-rows: 60% 25% 15%;
}

.cardText{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.cardTextDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardTextDetails > svg {
  padding-right: 0.5em
}

.cardText > h3 {
  padding-top: 0.5em;
  font-size: 1.3em;
}

.cardPicture {
  background-image: url("../../img/ball-4-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cardButton {
  /* width: 470px;
  height: 60px; */
  height: 100%;
  width: 100%;
  border: none;
  background-color: var(--icon-color);
  cursor: pointer;
  font-size: 1em;
  transition: all 300ms ease-in-out;
}
