* {
  box-sizing: border-box;
}

:root {
  --background-color: #050a18;
  --border-color: #393053;
  --text-color: rgba(255, 253, 253, 0.637);
  --icon-color: rgba(179, 139, 231, 0.61);
  /* --link-color: #e1e0e2; */
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}
body nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
body nav .navSection {
  padding: 2rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  justify-content: center;
  align-items: center;
}
body nav .navLogoSection {
  justify-content: flex-start;
}
body nav .navLinkSection {
  gap: 4rem;
}
body nav .navSocialMediaSection {
  gap: 2rem;
}
body nav .navLogoSection, body nav .navLinkSection {
  flex-basis: 33.3333333333%;
}
body nav .navSocialMediaSection, body nav .navContactSection {
  flex-grow: 1;
}
body h1, body h2, body h3, body a, body p, body span {
  font-weight: 400;
  font-family: "Space Grotesk", sans-serif;
  color: var(--text-color);
}
body p {
  font-size: 1.2rem;
  line-height: 160%;
}
body a {
  font-size: 1.2rem;
  text-decoration: none;
}
body main {
  flex-grow: 1;
  position: relative;
}
body main article {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 500ms ease;
}
body main > article[data-status=inactive] {
  transform: translateX(-100%);
  transform: scale(0);
}
body main > article[data-status=after] {
  transform: translateX(-100%);
}
body main > article[data-status=before] {
  transform: translateX(100%);
}
body main > article[data-status=preparation-to-translate-to-left] {
  transform: translateX(-100%) scale(1);
  transition: none;
}
body main > article[data-status=preparation-to-translate-to-right] {
  transform: translateX(100%) scale(1);
  transition: none;
}
body main > article > .articleImageSection, body main > article > .articleHeadingSection {
  border-right: 1px solid var(--border-color);
}
body main > article > .articleImageSection, body main > article > .articleDescriptionSection {
  border-bottom: 1px solid var(--border-color);
}
body main > article > .articleNavSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body main > article > .articleNavSection > button {
  border-right: 1px solid var(--border-color);
}
body .articleImageSection {
  background-position: center 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
body .icon {
  width: 1.1em;
  height: 1.1em;
  color: var(--icon-color);
}
body .iconButton {
  width: 3rem;
  height: 3rem;
  color: var(--icon-color);
}
body .iconLogo {
  width: 3em;
  height: 3em;
  color: var(--icon-color);
}
body .descriptionSection {
  padding: 3em 4em;
  height: 100%;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}
body .headingSection {
  padding: 3em 4em;
}
body .headingSection h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 765px;
}
body .articleNavButton {
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
}
body .articleNavButton:hover {
  background-color: rgba(30, 36, 53, 0.16);
}
body .iconButton {
  transition: all 250ms ease-in-out;
}
body .leftButton:hover > .iconButton {
  /* transition: all 200ms ease-in-out; */
  transform: translateX(-40%);
  z-index: -1;
}
body .rightButton:hover > .iconButton {
  /* transition: all 200ms ease-in-out; */
  transform: translateX(40%);
  z-index: -1;
}
body .invitationLink {
  border-bottom: 1px solid var(--text-color);
}
body .cursorShow {
  height: 1.3rem;
  width: 1.3rem;
  animation: cursorShow 0.6s;
  position: absolute;
  z-index: 100000;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
body .cursorHide {
  height: 0;
  width: 0;
  animation: cursorHide 0.4s;
  position: absolute;
  z-index: 100000;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
@keyframes cursorShow {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 1.3rem;
    width: 1.3rem;
  }
}
@keyframes cursorHide {
  from {
    height: 1.3rem;
    width: 1.3rem;
  }
  to {
    height: 0;
    width: 0;
  }
}
body body:hover .cursorShow {
  opacity: 1;
}
body body:hover .cursorHide {
  opacity: 1;
}
body .interactiveCircleShow {
  position: absolute;
  animation: interactiveCircleShow 0.5s;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(99, 11, 214, 0.3);
  border: 1px solid white;
  pointer-events: none;
}
body .interactiveCircleHide {
  position: absolute;
  animation: interactiveCircleHide 0.3s;
  height: 0;
  width: 0;
  border-radius: 50%;
  background-color: rgba(99, 11, 214, 0.3);
  border: 0px solid white;
  pointer-events: none;
}
@keyframes interactiveCircleShow {
  from {
    height: 0;
    width: 0;
  }
  to {
    height: 70px;
    width: 70px;
  }
}
@keyframes interactiveCircleHide {
  from {
    height: 70px;
    width: 70px;
    border: 1px solid white;
  }
  to {
    height: 0;
    width: 0;
    border: 0px solid white;
  }
}
body .cursorContainer {
  position: absolute;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .interactible {
  border-radius: 0;
}
body .articleShowFromRight {
  transform: translateX(1px);
  animation: articleShowFromRight 0.4s;
}
body .articleShowFromLeft {
  transform: translateX(1px);
  animation: articleShowFromLeft 0.4s;
}
@keyframes articleShowFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(1px);
  }
}
@keyframes articleShowFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(1px);
  }
}
body .articleHideToRight {
  transform: translateX(-100%);
  animation: articleHideToRight 0.4s;
}
body .articleHideToLeft {
  transform: translateX(-100%);
  animation: articleHideToLeft 0.4s;
}
@keyframes articleHideToLeft {
  from {
    transform: translateX(1px);
    display: grid;
  }
  to {
    transform: translateX(-100%);
    display: none;
  }
}
@keyframes articleHideToRight {
  from {
    transform: translateX(1px);
    display: grid;
  }
  to {
    transform: translateX(100%);
    display: none;
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body .rotating {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotating 6s linear infinite;
}

/*# sourceMappingURL=mainPage.module.css.map */
